/* Small Decives (Landscapr phone) */
@media(min-width:576px){}

/* Medium Decives (Tablet phone) */
@media(min-width:768px){}

/* Large Decives ( Desktops) */
@media(min-width:992px){}

/* Extra Large Decives (LArge Desktops) */
@media(min-width:1200px){}



/* The given screen size or smaller */
/* Large device Devices (Desktop ) */
@media(max-width:1200px){
	.single-product-item {
		height: 250px;
    }
	.single-product-item:nth-child(2) {
		height: 520px;
    }
}

/* Medium Devices (tablets Phone) */
@media(max-width:992px){
	.big-menu ul li {
		font-size: 30px;
    }
	.big-menu ul li a {
		padding: 130px 30px 30px;
    }
	.single-product-item {
		width: 31.3333%;
    }
	.single-product-item:nth-child(2) {
		width: 64.66%;
    }
	.single-product-item:nth-child(4) {
		width: 64.66%;
    }
	.single-product-item:nth-child(9) {
		width: 64.66%;
    }
	input[type="email"] {
		padding: 10px 7px;
		min-width: 200px;
	}
	input[type="submit"] {
		padding: 10px 10px;
	}
}

/* Small Devices (Landscape Phone) */
@media(max-width:768px){
	.promo-bg {
		padding: 20px;
		padding-bottom: 0;
	}
	input[type="email"] {
		padding: 10px 10px;
		min-width: 265px;
	}
	.footer-area, .footer-area .text-right {
		text-align: center !important;
	}
	.footer-menu ul li {
			padding: 0 15px;
	}
}

/* Extra Small Devices (Portrait Phone) */
@media(max-width:576px){
	.header-right {
		display: none;
	}
	.header-left ul {
		display: none;
	}
	.homepage-slider-wrap,.homepage-slider-wrap div {
		height: auto;
	}
	.header-top-area {
		position: relative;
		background: #f8eeed;
	}
	.header-top-area a {
	  padding-top: 15px;
	  padding-bottom: 10px;
	}
	.silde-text-tablecell {
		padding-left: 50px 0;
		font-size: 50px;
		line-height: 60px;
		text-align: center;
	}
	.owl-carousel .owl-item .single-slide-item img {
		display: none;
	}
	.big-menu ul li {
		float: none;
		width: auto;
		font-size: 40px;
	}
	.big-menu ul li:nth-child(2), .big-menu ul li:nth-child(3) {
		width: auto;
	}
	.big-menu ul li a {
		text-align: center;
		padding: 50px;
	}
	.single-product-item,.single-product-item:nth-child(2),.single-product-item:nth-child(4), .single-product-item:nth-child(9) {
		width: 100%;
		float: none;
	}
	.promo-content {
		padding: 20px;
	}
	.promo-bg {
		padding-top: 10px;
	}
	.promo-title h2 {
		font-size: 25px;
	}
	.promo-title span.year-text {
		left: 30%;
		font-size: 70px;
	}
	.product-promotions .owl-dots {
		position: relative;
		right: auto;
		top: auto;
		margin-top: 0;
		text-align: center;
		width: 100%;
	}
	.product-promotions .owl-dots button {
		display: inline-block;
		margin: 5px;
	}
	input[type="submit"] {
		margin-top: 10px;
	}
}

























